<h1 class="display-4">About</h1>
<p>Move and Groove is a fitness activity application that makes it easy to track and organize daily workouts.</p>
<p>The application is easy to use and it only takes a minute to create a free account.</p>
<p><a href="/users/sign_up">Click here</a> to get started.</p>
<p>Thank you for using Move and Groove!</p>