<h1>Editing Activity</h1>

<%= render 'form', activity: @activity %>

<div class="center">
<%= link_to 'Show', @activity, class:'btn btn-primary' %> |
<%= link_to 'Back', activities_path, class:'btn btn-primary' %>
</div>

<hr>
